{% extends 'main/base.html' %}
{% load static %}

{% block main %}
    <h1>Analytics</h1>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Green Scale</h3>
                            <h1>{Values_1}</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Red Scale</h3>
                            <h1>{Values_2}</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Blue Scale</h3>
                            <h1>{Value_3}</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent-orders">
                <h2>Data Base</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ProjectName</th>
                            <th>Link</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Group</th>
                        </tr>

                    </thead>
                    <tbody>
                    {% for project in projects%}
                    <tr>
                    <td>
                        {{ project.ProjectName }}
                    </td>
                        <td>
                            <a href = '{{project.ProjectLink}}'>{{project.ProjectLink}}</a>
                        </td>
                    <td>
                        {{project.Usernick.Fullname}}
                    </td>
                    <td>
                        {{project.ProjectDate}}
                    </td>
                    <td>
                        {{project.Usernick.UserGroup}}
                    </td>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
{% endblock %}