{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/loginstyle.css'%}">
    <title>Register | DjangoDB</title>
</head>
<body>

    <div class="login-card">
        <h2>Registration</h2>
        <h3>Enter your credentials</h3>

        <form class="login-form" method="post">
            {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <!--<input type="text" placeholder="GitHub project link">-->
    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <a class="alert alert-danger" style="color: red";>

                      <strong>{{ error|escape }}</strong>
              </a>
           {% endfor %}
       {% endfor %}
    {% endif %}
            <a href="login">Already have account.</a>
            <button type="submit">REGISTER</button>
        </form>
    </div>
</body>
</html>